SPRING_DATASOURCE_URL=jdbc:mysql://RDS_ENDPOINT:3306/ttdd?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
SPRING_DATASOURCE_USERNAME=ttdd_admin
SPRING_DATASOURCE_PASSWORD=
JWT_SECRET=
CLIENT_ALLOWED_ORIGINS=http://localhost:[*],http://127.0.0.1:[*]
